<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="./Application/Tpl/header-admin.html" />
</head>

<body>
	<div class="container">
		<div class="page-header" align="center">
			<h3>客户留言</h3>
		</div>
	</div>
	<form class="form-horizontal">
		<div>
			<label class="col-sm-4 control-label">标题</label>
			<div class="col-sm-8">
				<p class="form-control-static">{$record.title}</p>
			</div>
		</div>
		<div>
			<label class="col-sm-4 control-label">内容</label>
			<div class="col-sm-8">
				<p class="form-control-static">{$record.content}</p>
			</div>
		</div>
		<div>
			<label class="col-sm-4 control-label">联系人</label>
			<div class="col-sm-8">
				<p class="form-control-static">{$record.contact_name}</p>
			</div>
		</div>
		<div>
			<label class="col-sm-4 control-label">联系电话</label>
			<div class="col-sm-8">
				<p class="form-control-static">{$record.contact_phone}</p>
			</div>
		</div>
		<div>
			<label class="col-sm-4 control-label">Email</label>
			<div class="col-sm-8">
				<p class="form-control-static">{$record.email}</p>
			</div>
		</div>
		<div>
			<label class="col-sm-4 control-label">提交时间</label>
			<div class="col-sm-8">
				<p class="form-control-static">{$record.submit_time}</p>
			</div>
		</div>
		<div>
			<div class="col-sm-12" align="center">
				<button type="button" class="btn btn-default" id="backbtn" onclick="history.back(-1)">返回</button>
			</div>
		</div>
	</form>
</body>
</html>