<div class="col-md-3 nopaddingleft {$nopaddingright}">
	<div class="panel panel-warning">
		<div class="panel-heading">商城动态</div>
		<div class="panel-body" style="padding: 0;">
			<ul class="list-group" style="margin-bottom: 0;">
				<a href="__CONTROLLER__/activityList.html" class="list-group-item {$activityActive}">商城活动</a>
<!-- 				<a href="__CONTROLLER__/newsList.html" class="list-group-item {$newsActive}">商城新闻</a> -->
				<a href="__CONTROLLER__/storyList.html" class="list-group-item {$storyActive}">商城故事</a>
			</ul>
		</div>
	</div>

	<include file="./Application/Tpl/ads.html" key="otherleftads" />
</div>