<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="./Application/Tpl/header.html" />
<title>东鸣轩收藏品中心</title>
</head>

<body>
	<include file="./Application/Tpl/navi.html" active="home"/>
	<div class="container">
		<include file="./Application/Tpl/homeSlide.html" />
        <div class="row">
            <include file="newsLeft" />
            <div class="col-md-9 nopaddingleft nopaddingright">
                <div class="panel panel-warning">
					<div class="panel-heading">{$subtitle}</div>
					<div class="panel-body" style="margin: 10px; padding-top: 0">
                   		{$richText}                   		
                   		<div align="center">
                   			<br />
							<button type="button" class="btn btn-default" onclick="history.go(-1)">返回</button>
							<br />
						</div>
                   	</div>                   	
                </div>
            </div>
        </div>
	</div>
    <include file="./Application/Tpl/footer.html" />
</body>
</html>