<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="./Application/Tpl/header-admin.html" />
<meta name="description" content="东鸣轩" />
<meta name="author" content="Vista JIN" />
<meta name="keywords" CONTENT="东鸣轩" />
<title>东鸣轩商城</title>
<link href="__PUBLIC__/fileinput-master/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/fileinput-master/js/fileinput.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script>
	KindEditor.ready(function(K) {
		window.editor = K.create('#editor_id');
	});
</script>
</head>

<body>
	<div class="container">
		<div class="page-header nomargin">
			<h3>编辑商家</h3>
		</div>
		<form enctype="multipart/form-data" action="__ROOT__/Admin/Seller/updateSeller" method="post">
			<input type="hidden" name="uid" value="{$record.uid}">
			<div class="form-group">
				<label for="name">商家名称</label> <input type="text" class="form-control" name="name" id="name"
					value="{$record.name}">
			</div>
			<div class="form-group">
				<label for="name">序号</label> <input type="text" class="form-control" name="oseq" id="oseq"
					style="width:150px" value="{$record.oseq}">
			</div>
			<div class="form-group">
				<label for="floor">楼层</label>
				<select class="form-control" required style="width:300px" name="floor" id="floor">
					<option value="">请选择</option>
					<volist name="floors" id="vo">
					<if condition="$key eq $record['floor']">
					<option value="{$key}" selected>{$vo}</option>
					<else/>
					<option value="{$key}">{$vo}</option>
					</if>
					</volist>
				</select>
			</div>
			<div class="form-group">
				<label for="major_business">经营业务</label>
				<select multiple="true" class="form-control" required style="width:300px" name="major_business[]" id="major_business">
<!-- 					<option value="">请选择</option> -->
					<volist name="businessTypeList" id="vo">
					<if condition="substr_count($record['major_business'], '.'.$key.'.') eq 1 or $record['major_business'] eq $key" >
					<option value="{$key}" selected>{$vo}</option>
					<else/>
					<option value="{$key}">{$vo}</option>
					</if>
					</volist>
				</select>
			</div>
			<div class="form-group">
				<label for="deal_in">经营特色</label>
				<input type="text" class="form-control" name="deal_in" id="deal_in"
					value="{$record.deal_in}">
			</div>
<!-- 			<div class="form-group"> -->
<!-- 				<label for="second_business">次营业务</label> -->
<!-- 				<select class="form-control" required style="width:300px" name="second_business" id="second_business"> -->
<!-- 					<option value="">请选择</option> -->
<!-- 					<volist name="businessTypeList" id="vo"> -->
<!-- 					<if condition="$key eq $record['second_business']"> -->
<!-- 					<option value="{$key}" selected>{$vo}</option> -->
<!-- 					<else/> -->
<!-- 					<option value="{$key}">{$vo}</option> -->
<!-- 					</if> -->
<!-- 					</volist> -->
<!-- 				</select> -->
<!-- 			</div> -->
			<div class="form-group">
				<label for="photo">商家LOGO (jpg, png, gif, jpeg)</label><br/>
				<empty name="record.logo">
					<img src="__ROOT__/Public/images/seller-logo-miss.jpg">
				<else/>
					<img src="__ROOT__/Uploads/{$record.logo}">
				</empty>
				<input name="photo" id="photo" class="file form-control"
					type="file" multiple data-min-file-count="0">
			</div>
			<div class="form-group">
				<label for="address">商家地址</label> <input type="text" class="form-control" name="address" id="address"
					value="{$record.address}">
			</div>
			<div class="form-group">
				<label for="contact_person">联系人</label> <input type="text" class="form-control" name="contact_person" id="contact_person"
					value="{$record.contact_person}" style="width:200px">
			</div>
			<div class="form-group">
				<label for="contact_phone">联系电话</label> <input type="text" class="form-control" name="contact_phone" id="contact_phone"
					value="{$record.contact_phone}" style="width:200px">
			</div>
			<div class="form-group">
				<label for="email">电子邮箱</label> <input type="text" class="form-control" name="email" id="email"
					value="{$record.email}" style="width:200px">
			</div>
			<div class="form-group">
				<label for="postcode">邮政编码</label> <input type="text" class="form-control" name="postcode" id="postcode"
					value="{$record.postcode}" style="width:200px">
			</div>
			<div class="form-group">
				<label for="introduction">商家简介</label>
				<textarea id="editor_id" name="introduction" style="width: 100%; height: 400px;">{$record.introduction}</textarea>
			</div>
			<div align="center">
				<button type="submit" class="btn btn-info">确定</button>
				<button type="button" class="btn btn-default" onclick="history.go(-1)">取消</button>
			</div>
		</form>
		<br/><br/>
	</div>

</body>
<script>
$("#photo").fileinput({
    'allowedFileExtensions' : ['jpg', 'png','gif', 'jpeg'],
});
</script>
</html>