<div class="col-md-3 nopaddingleft {$nopaddingright}">
	<div class="panel panel-warning">
		<div class="panel-heading">拍卖活动</div>
		<div class="panel-body" style="padding: 0;">
			<ul class="list-group" style="margin-bottom: 0;">
<!-- 				<a href="__CONTROLLER__/latestAuctionList.html" class="list-group-item {$Think.session.latestActive}">最新拍卖</a> -->
<!-- 				<a href="__CONTROLLER__/historyAuctionList.html" class="list-group-item {$Think.session.historyActive}">历史拍卖</a> -->
				<a href="__CONTROLLER__/latestAuctionList.html" class="list-group-item {$Think.session.latestActive}">V6竞投会</a>
			</ul>
		</div>
	</div>

	<include file="./Application/Tpl/ads.html" key="otherleftads" />
</div>